.venv
notebooks/.cache
qari_ocr/Qari_model_cache
.DS_Store
qari_ocr/Qwen_processor_cache

qwen3_ocr/qwen_model_cache
من معتمدات الكتب
*.pdf
*.png
*.jpeg
*.jpg
*.json
*.zip
layout_pipeline/paddlepaddle
layout_pipeline/sam